#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left {
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 30%;
  height: 96vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border-radius: 3vh;
  z-index: 10000;
  color: white;

  .router-change {
    position: absolute;
    top: 7vh;
    left: 13.5vw;
  }

  .layer {
    position: absolute;
    bottom: 14vh;
  }
}

.others {
  position: absolute;
  top: 1vh;
  right: 6vw;
  z-index: 10000;
}