.inspector {
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

  .title {
    font-size: 2.5vh;
    color: white;
    padding-bottom: 1.5vh;
  }

  .talert {
    font-size: 2vh;
    color: red;
    margin-top: 0.5vh;
  }
}